/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

body {
    background-color: #343838;
    font-size: 16px;
    color: #BBB;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #00DFFC;

    &:hover {
        text-decoration: underline;
    }
}

header {
    .sns {
        position: absolute;
        top: 0;
        right: 30px;
        padding: 5px 30px 10px;
        border-radius: 0 0 3px 3px;
        background-color: rgba(0, 47.5, 53.5, 0.3);

        li {
            padding-top: 5px;
        }
        .twitter {
            iframe {
                width: 100px !important;
            }
        }
    }
}
    %title {
        display: inline-block;
        font-family: 'New Rocker', cursive;
        @include text-shadow(#222 3px 3px 3px);
    }
    h1 {
        @extend %title;

        padding: 0 15px 0 30px;
        /* background-color: #005F6B; */
        font-size: 80px;
        color: #00DFFC;

        a:hover {
            text-decoration: none;
        }
    }
    h2 {
        @extend %title;

        color: #00BDDA;
    }
    .ver {
        @extend %title;

        margin-left: 10px;

        &:before {
            content: 'ver ';
        }
    }

#content {
    overflow: hidden;
    padding: 10px 15px 0;
}

%frame {
    padding: 15px 15px 5px;
    border: 1px solid #004E5A;
    border-radius: 2px;
    background-color: #343838;
    @include single-box-shadow(#333, 0, 0, 3px, 3px);
    @include text-shadow(#222 1px 1px 3px);
}
%boxtitle {
    margin-bottom: 10px;
    padding: 4px 10px;
    border-radius: 2px;
    background-color: #005F6B;
    font-size: 20px;
    color: #00DFFC;
}

#main {
    float: right;
    width: 80%;

    .first {
        margin: 0 15px 15px 0;
    }

    dl {
        @extend %frame;

        margin: 0 15px 15px 0;

        &:last-child {
            margin-bottom: 0;
        }

        dt {
            @extend %boxtitle;

            &:before {
                padding-right: 5px;
                font-size: 5px;
                content: '▲';
                vertical-align: middle;
                color: #00ACC9;
            }

            span {
                padding-left: 20px;
                font-size: 12px;
                font-style: italic;
            }
            .beta {
                opacity: 0.5;
            }
        }
        dd {
            /* display: none; */
            font-size: 16px;

            %dashbox {
                padding: 10px;
                border: 1px dashed #005F6B;
                border-radius: 2px;
                font-family: monospace;
                color: #BBB;
            }
            .sample {
                @extend %dashbox;

                margin-bottom: 10px;
                font-size: 18px;

                pre {
                    padding-bottom: 10px;
                }
                p {
                    padding: 10px;
                    border-top: 1px solid #005F6B;
                    font-size: 14px;
                }
            }

            ul {
                margin-left: 10px;
            }
            li {
                padding-bottom: 5px;
            }
            h3 {
                cursor: pointer;
                color: #00B4CC;
                vertical-align: middle;

                &:before {
                    content: '+';
                    display: inline-block;
                    position: relative;
                    top: -2px;
                    width: 1.5em;
                    margin-right: 10px;
                    border-radius: 2px;
                    background-color: rgba(0, 95, 107, 0.3);
                    text-align: center;
                    font-size: 12px;
                    color: #BBB;
                }

                .expansion {
                    opacity: 0.5;
                    font-style: italic;
                }
            }
            .detail {
                @extend %dashbox;

                display: none;
                margin: 10px 0 15px 15px;

                pre {
                    margin: 10px;
                    font-style: italic;
                    font-size: 14px;
                    color: #999;
                }
            }
            .open {
                h3 {
                    &:before {
                        content: '-';
                    }
                }
                .detail {
                    display: block;
                }
            }
        }

        &.close {
            dt {
                &:before {
                    content: '▼';
                }
            }
            dd {
                /* display: block; */
                display: none;
            }

        }
    }
}
    .first {
        @extend %frame;

        margin: 15px;
        border: 1px solid #004E6A;
    }
        .environment {
            padding: 0 15px 15px;
            font-size: 18px;
            @include text-shadow(#333 3px 3px 3px);
        }
        .lead {
            @extend .environment;

            font-size: 16px;

            .src {
                font-size: 18px;
            }
        }
        .download {
            @include text-shadow(#333 3px 3px 3px);

            padding: 0 15px 15px;
            font-size: 18px;
            font-weight: bold;
            font-style: italic;

            span {
                margin-right: 15px;
                font-size: 14px;
            }
        }

#sub {
    float: left;
    width: 20%;
    position: fixed;
    font-size: 14px;

    ul {
        @extend %frame;

        overflow: hidden;
        margin: 0 15px;
        padding-top: 5px;
    }
    li {
        float: left;
        padding-right: 15px;
    }
}

#footer {
    padding: 30px;
    font-size: 16px;
    color: #AAA;
    @include text-shadow(#333 3px 3px 3px);

    a {
        color: #CCC;
    }
}

#optimize {
    overflow: hidden;

    h3 {
        @extend %boxtitle;
    }
    .menu {
        margin-left: 10px;
    }
    #srcfile {
        float: left;
        width: 50%;
        padding: 10px 0 20px;

        dl {
            margin: 0 0 20px 10px;
        }
            dt {
                font-weight: bold;
            }
    }
        ul {
            overflow: hidden;
        }
            li {
                float: left;
                width: 50%;
            }

    #src {
        float: left;
        width: 50%;

        textarea {
            @extend %frame;

            width: 90%;
            height: 500px;
            color: #DDD;
        }
    }
}
