/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

@font-face {
    font-family: 'title';
    src: url('../font/NewRocker-Regular.ttf') format('truetype');
}

body {
    background-color: #343838;
    color: #BBB;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #00DFFC;

    &:hover {
        text-decoration: underline;
    }
}

%title {
    display: inline-block;
    font-family: 'title';
    @include text-shadow(#222 3px 3px 3px);
}
h1 {
    @extend %title;

    padding: 0 15px 0 30px;
    /* background-color: #005F6B; */
    font-size: 80px;
    color: #00DFFC;
}
h2 {
    @extend %title;

    color: #00BDDA;
}

header {
    .sns {
        position: absolute;
        top: 0;
        right: 10px;
        padding: 5px 30px 10px;
        border-radius: 0 0 3px 3px;
        background-color: rgba(0, 47.5, 53.5, 0.3);

        li {
            padding-top: 5px;
        }
        .twitter {
            iframe {
                width: 100px !important;
            }
        }
    }
}

.environment {
    padding: 14px 30px 0;
    font-size: 18px;
    @include text-shadow(#333 3px 3px 3px);
}
.lead {
    @extend .environment;

    font-size: 16px;

    .src {
        font-size: 18px;
    }
}
.download {
    padding: 14px 30px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    @include text-shadow(#333 3px 3px 3px);
}
#content {
    overflow: hidden;
    padding: 15px;
}
#main {
    float: right;
    width: 80%;
}

%frame {
    padding: 15px 15px 5px;
    border: 1px solid #004E5A;
    background-color: #343838;
    @include border-radius(2px);
    @include single-box-shadow(#333, 0, 0, 3px, 3px);
    @include text-shadow(#222 1px 1px 3px);
}
#sub {
    float: left;
    width: 20%;

    ul {
        @extend %frame;

        margin: 0 15px;
    }
}
dl {
    @extend %frame;

    margin: 0 15px 15px 0;

    dt {
        margin-bottom: 10px;
        padding: 4px 10px;
        background-color: #005F6B;
        font-size: 20px;
        color: #00DFFC;

        @include border-radius(2px);

        &:before {
            padding-right: 5px;
            font-size: 5px;
            content: '▼';
            vertical-align: middle;
            color: #00ACC9;
        }

        span {
            padding-left: 20px;
            font-size: 12px;
            font-style: italic;
        }
    }
    dd {
        font-size: 16px;

        %none {
            display: none;
            padding: 10px;
            border: 1px dashed #005F6B;
            font-family: monospace;
            color: #BBB;
            @include border-radius(2px);
        }
        .sample {
            @extend %none;

            margin-bottom: 10px;
            font-size: 18px;

            pre {
                padding-bottom: 10px;
            }
            p {
                padding: 10px;
                border-top: 1px solid #005F6B;
                font-size: 14px;
            }
        }

        ul {
            margin-left: 10px;
        }
        li {
            padding-bottom: 5px;
        }
        h3 {
            cursor: pointer;
            color: #00B4CC;
            vertical-align: middle;

            &:before {
                content: '+';
                display: inline-block;
                position: relative;
                top: -2px;
                width: 1.5em;
                margin-right: 10px;
                border-radius: 2px;
                background-color: rgba(0, 95, 107, 0.3);
                text-align: center;
                font-size: 12px;
                color: #BBB;
            }
        }
        .detail {
            @extend %none;

            margin: 10px 0 15px 15px;

            pre {
                margin: 10px;
                font-style: italic;
                font-size: 14px;
                color: #999;
            }
        }
        .open {
            h3 {
                &:before {
                    content: '-';
                }
            }
            .detail {
                display: block;
            }
        }
    }

    &.open {
        dt {
            &:before {
                content: '▲';
            }
        }
        dd {
            .sample {
                display: block;
            }
        }

    }
}

#footer {
    padding: 14px 30px;
    font-size: 16px;
    color: #AAA;
    @include text-shadow(#333 3px 3px 3px);

    a {
        color: #CCC;
    }
}
