@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'title';
  src: url("../font/NewRocker-Regular.ttf") format("truetype");
}

/* line 17, ../scss/screen.scss */
body {
  background-color: #343838;
  color: #BBB;
  line-height: 1.5;
}

/* line 23, ../scss/screen.scss */
a {
  text-decoration: none;
  color: #00DFFC;
}
/* line 27, ../scss/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 32, ../scss/screen.scss */
h1, h2 {
  display: inline-block;
  font-family: 'title';
  text-shadow: #222222 3px 3px 3px;
}

/* line 37, ../scss/screen.scss */
h1 {
  padding: 0 15px 0 30px;
  /* background-color: #005F6B; */
  font-size: 80px;
  color: #00DFFC;
}

/* line 45, ../scss/screen.scss */
h2 {
  color: #00BDDA;
}

/* line 52, ../scss/screen.scss */
header .sns {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 5px 30px 10px;
  border-radius: 0 0 3px 3px;
  background-color: rgba(0, 47, 53, 0.3);
}
/* line 60, ../scss/screen.scss */
header .sns li {
  padding-top: 5px;
}
/* line 64, ../scss/screen.scss */
header .sns .twitter iframe {
  width: 100px !important;
}

/* line 71, ../scss/screen.scss */
.environment, .lead {
  padding: 14px 30px 0;
  font-size: 18px;
  text-shadow: #333333 3px 3px 3px;
}

/* line 76, ../scss/screen.scss */
.lead {
  font-size: 16px;
}
/* line 81, ../scss/screen.scss */
.lead .src {
  font-size: 18px;
}

/* line 85, ../scss/screen.scss */
.download {
  padding: 14px 30px;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  text-shadow: #333333 3px 3px 3px;
}

/* line 92, ../scss/screen.scss */
#content {
  overflow: hidden;
  padding: 15px;
}

/* line 96, ../scss/screen.scss */
#main {
  float: right;
  width: 80%;
}

/* line 101, ../scss/screen.scss */
#sub ul, dl {
  padding: 15px 15px 5px;
  border: 1px solid #004E5A;
  background-color: #343838;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 3px 3px #333333;
  -moz-box-shadow: 0 0 3px 3px #333333;
  box-shadow: 0 0 3px 3px #333333;
  text-shadow: #222222 1px 1px 3px;
}

/* line 109, ../scss/screen.scss */
#sub {
  float: left;
  width: 20%;
}
/* line 113, ../scss/screen.scss */
#sub ul {
  margin: 0 15px;
}

/* line 119, ../scss/screen.scss */
dl {
  margin: 0 15px 15px 0;
}
/* line 124, ../scss/screen.scss */
dl dt {
  margin-bottom: 10px;
  padding: 4px 10px;
  background-color: #005F6B;
  font-size: 20px;
  color: #00DFFC;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 133, ../scss/screen.scss */
dl dt:before {
  padding-right: 5px;
  font-size: 5px;
  content: '▼';
  vertical-align: middle;
  color: #00ACC9;
}
/* line 141, ../scss/screen.scss */
dl dt span {
  padding-left: 20px;
  font-size: 12px;
  font-style: italic;
}
/* line 147, ../scss/screen.scss */
dl dd {
  font-size: 16px;
}
/* line 150, ../scss/screen.scss */
dl dd .sample, dl dd .detail {
  display: none;
  padding: 10px;
  border: 1px dashed #005F6B;
  font-family: monospace;
  color: #BBB;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 158, ../scss/screen.scss */
dl dd .sample {
  margin-bottom: 10px;
  font-size: 18px;
}
/* line 164, ../scss/screen.scss */
dl dd .sample pre {
  padding-bottom: 10px;
}
/* line 167, ../scss/screen.scss */
dl dd .sample p {
  padding: 10px;
  border-top: 1px solid #005F6B;
  font-size: 14px;
}
/* line 174, ../scss/screen.scss */
dl dd ul {
  margin-left: 10px;
}
/* line 177, ../scss/screen.scss */
dl dd li {
  padding-bottom: 5px;
}
/* line 180, ../scss/screen.scss */
dl dd h3 {
  cursor: pointer;
  color: #00B4CC;
  vertical-align: middle;
}
/* line 185, ../scss/screen.scss */
dl dd h3:before {
  content: '+';
  display: inline-block;
  position: relative;
  top: -2px;
  width: 1.5em;
  margin-right: 10px;
  border-radius: 2px;
  background-color: rgba(0, 95, 107, 0.3);
  text-align: center;
  font-size: 12px;
  color: #BBB;
}
/* line 199, ../scss/screen.scss */
dl dd .detail {
  margin: 10px 0 15px 15px;
}
/* line 204, ../scss/screen.scss */
dl dd .detail pre {
  margin: 10px;
  font-style: italic;
  font-size: 14px;
  color: #999;
}
/* line 213, ../scss/screen.scss */
dl dd .open h3:before {
  content: '-';
}
/* line 217, ../scss/screen.scss */
dl dd .open .detail {
  display: block;
}
/* line 225, ../scss/screen.scss */
dl.open dt:before {
  content: '▲';
}
/* line 230, ../scss/screen.scss */
dl.open dd .sample {
  display: block;
}

/* line 238, ../scss/screen.scss */
#footer {
  padding: 14px 30px;
  font-size: 16px;
  color: #AAA;
  text-shadow: #333333 3px 3px 3px;
}
/* line 244, ../scss/screen.scss */
#footer a {
  color: #CCC;
}
